.book-detail {
	display: flex;
	flex-direction: column;
}

.book-info {
}

.book-summary {
	display:flex;
	flex-direction: row;
}

.book-summary-text {
	display:flex;
	flex-direction: column;
}

.book-summary-text .title {
	font-family:Roboto-Bold;
	font-size:20px;
	color:#000000;
	letter-spacing:0px;
	line-height:19px;
	text-align:left;
	font-weight: bold;
	margin: 0 0 10px;
}

.book-summary-text .author, .year, .genre {
	font-family:Roboto-Regular;
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0px;
}

.hr-book-detail {
	background-color: #66e5ff;
	width:100%;
	border-color: #66e5ff; 
}

.book-summary-text .author {
	margin: 0 0 22px;
}

.book-summary-text .year {
	margin: 0 0 8px;
}

.book-summary-text .genre {
	margin: 0 0 13px;
}

.book-summary-text .rent-button {
	position: absolute;
	bottom: 0;
	left: 0;
	background:#00adee;
	width:192px;
	height:38px;
	font-family:Roboto-Bold;
	font-size:20px;
	color:#ffffff;
	font-weight: bold;
}

.book-summary-text p {
	font-family:Roboto-Regular;
	font-size:14px;
	color:#999999;
	line-height:19px;
}

.related-title, .comments-title {
	font-family:Roboto-Bold;
	font-size:20px;
	color:#a5cd39;
	line-height:19px;
	font-weight: bold;
	margin: 31px 0 0 0;
}

.related-book-list {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.book-comments {
	display: flex;
	flex-direction: column;
	margin: 0 0 50px;
}

.comments-title {
	align-self: flex-start;
	margin: 40px 0 22px;
}

.comment {
	display: flex;
	flex-direction: column;
}

.comment-container {
	display: flex;
	flex-direction: row;
	margin: 20px 0 0;
}

.comments-profile-pic {
  border: 0px solid;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin: 0 16px 0 22px;
}


.add-comment {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.add-comment-title {
	font-family:Roboto-Bold;
	font-size:14px;
	color:#000000;
	letter-spacing:0px;
	line-height:19px;
	font-weight: bold;
	margin: 0 0 15px;
}

.add-comment-input {
	width: 667px;
	height: 75px;	
	border:1px solid #979797;
}

.add-comment-submit {
	background:#a5cd39;
	width:192px;
	height:38px;
	margin: 15px 0 25px;
	font-family:Roboto-Bold;
	font-size:16px;
	color:#ffffff;
	font-weight: bold;
}

.comment-user {
	font-family:Roboto-Bold;
	font-size:14px;
	color:#000000;
	letter-spacing:0px;
	line-height:19px;
	font-weight: bold;
	margin: 0 0 10px;
}

.comment-date {
	font-family:Roboto-Bold;
	font-size:14px;
	color:#000000;
	letter-spacing:0px;
	line-height:19px;
	margin: 0 0 11px;
}

.comment-text {
	font-family:Roboto-Regular;
	font-size:14px;
	color:#999999;
	line-height:19px;
}