.book {
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 128px;
  margin: 55px 25px;
  padding:10px;
}

.book:hover{
  background-color: #EEE;
}

.book .book-img{
  height: 182px;
}

.book .book-title {
  font-family:Roboto-Bold;
  font-weight: bold;
  color:#000000;
  letter-spacing:0px;
  line-height:19px;
  text-align:left;
  margin: 11px 0 0;
}

.book .book-author {
  font-family:Roboto-Regular;
  font-size:12px;
  color:#4a4a4a;
  letter-spacing:0px;
  line-height:19px;
}
