.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.13);
}

.logo{
  width: 182px;
  height: 42px;
  margin: 23px 0 0 34px;
  padding: 0 0 33px;
}

.menu {
  margin: 0 49px 0 0;
}

.menu-item {
  margin: 30px 0 0 30px;
}

.menu-profile-pic {
  border: 0px solid;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.menu-dropdown {
  display:flex;
  flex-direction: column;
  background-color: #FFF;
  width: 160px;
  z-index: 1;
  position: absolute;
  box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.75);
}

.menu-hidden {
  display: none;
}

.dropdown-item {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 31px;
  padding: 0px 12px;
  font-family: Roboto, Arial;
}

.dropdown-item:hover {
  background:rgba(0,173,238,0.25);
}

.profile-dropdown {
  z-index: 1;
  position: absolute;
}

.notification-container{
  display:flex;
  flex-direction: row;
  background-color: #FFF;
  box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.75);
}

.notification-sub-container {
  display:flex;
  flex-direction: column;
}
