.app {
  border-style: solid;
  border-color: #EEE;
  border-width: 1px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.13);
}

.logo{
  width: 182px;
  height: 42px;
  margin: 23px 0 0 34px;
  padding: 0 0 33px;
}

.menu {
  margin: 0 49px 0 0;
}

.menu-item {
  margin: 30px 0 0 30px;
}

.menu-profile-pic {
  border: 0px solid;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 25px 0 0 0;
}

.filter-dropdown {
  width: 238px;
  height: 38px;
  background-color: #EEE;
  margin: 0 50px 0 0;
}

.filter-text {
  width: 260px;
  height: 38px;
}

.search-button {
  width: 38px;
  height: 38px;
  background: #8ee537 url("../resources/ASSETS/search.svg") no-repeat center;
}

.text-input {
  background-color: #EEE;
  width: 222px;
  height: 38px;
  padding: 0 10px;
}

.catalog {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 358px;
}

.book {
  display:flex;
  flex-direction: column;
  width: 128px;
  margin: 65px 35px;
}

.book .book-img{
  height: 182px;
}

.book .book-title {
  font-family:Roboto-Bold;
  font-weight: bold;
  color:#000000;
  letter-spacing:0px;
  line-height:19px;
  text-align:left;
  margin: 11px 0 0;
}

.book .book-author {
  font-family:Roboto-Regular;
  font-size:12px;
  color:#4a4a4a;
  letter-spacing:0px;
  line-height:19px;
}

