* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.title-small { 
  display: block;
  font-size: 17px;
  margin: 16px 0 17px;
  font-weight: bold;
}

.header {
  align-items: center;
  background-color: #FFF;
  border-top: 3px solid #F5C85F;
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
  width: 100%;
}

.vertical-separator {
  background: linear-gradient(#FFF, #F5C85F, #FFF);
  width: 3px;
  height: 300px;
  margin: 0px 30px;
} 

.features::before {
  content:"";
  background-color: #FFF;
  background-image: url("../resources/triangle.png");
  width: 100%;
  height: 10px;
}

.features {
  align-items: center;
  background-color: #EEE; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: inset 0px -5px 6px 0px rgba(0,0,0,0.14);
  width: 100%;
} 

.feature {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  text-align: center;
  max-width: 220px;
  width:100%;
}

.highlight-gray {
  color: #999;
  font-weight: bold;
}

.subscribe {
  justify-content: space-around;
  background-color: #F5C85F;
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.text-white {
  color: #FFF;
}

.subscribe-title {
  padding: 0 0 10px;
}

.subscribe-input {
  border: 2px solid #FFF;
  border-radius: 15px;
  max-width: 350px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.subscribe-button {
  border: 1px solid;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
  margin: 20px 0 20px;
  text-align: center;
  border-radius: 8px;
  max-width: 150px;
  width: 100%;
}

.subscribe-input::placeholder {
  color: #BBB;
}

@media screen and (max-width: 670px) {
  .cellphone-img {
    display: none;
  }

  .vertical-separator{
    display: none;
  }

  .header {
    padding: 40px 0;
  }
}
